html {
  display: block;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: auto;
}

.bg {
  background: no-repeat center center cover;
  max-width: none;
  height: 110%;
  filter: blur(4px);
  position: fixed;
  top: 0;
  min-width: 110%;
  margin: -10px;
  z-index: -1;
}

.center {
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
}

.structure {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  overflow: auto;
}

a:link, a:visited {
  color: black; 
}

.header {
  min-width: 50%;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
}

.flex {
  flex-wrap: wrap;
  display: flex;
}

aside {
  display: block;
  width: 190px;
  padding-top: 20px;
}

.nav {
  display: flex;
  width: 25%;
  max-width: 100%;
  margin: 0 10px 0 0;
  padding-bottom: 10%;
  padding-left: 10%;
}

.nav img {
  padding-right: 10px;
  padding-left: 10px;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

main {
  flex: 1;
  order: 2;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #1b1b32e0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.sidebar-left {
  float: left;

}

.sidebar-left, .sidebar-right {
  background-color: #bb5cbedd;
  width: 250px;
  padding-top: 20px;
  margin: 10px;
  border-radius: 10px;
}

.sidebar-right {
  float: right;
}

.HeaderArea {
  width: 100%;
  padding-bottom: 5px;
}

.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: #1b1b32c9;
 color: rgb(255, 255, 255);
 white-space: nowrap;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1b1b32;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #1b1b32;
  color: #fff;
}

.sidebar-left a {
  text-decoration: none;
}

.nav a:hover {
  background-color: #c40093;
}